In [ ]:
import pandas as pd
from pandasql import sqldf
import numpy as np

#### Load the AWProduct.csv file into a Pandas Dataframe. Name the Dataframe df

#### Using SQL: Display the first 10 rows of the Dataframe. Only show the following columns: ProductKey, ProductAlternateKey, ProductSubcategoryKey, ProductName

#### Using Pandas: Display the first 10 rows of the Dataframe. Only show the following columns: ProductKey, ProductAlternateKey, ProductSubcategoryKey, ProductName

#### Using SQL: Display ProductName, DealerPrice only for those rows where the DealerPrice > 10. Limit your output to only 10 rows

#### Using Pandas: Display ProductName, DealerPrice only for those rows where the DealerPrice > 10. Limit your output to only 10 rows

#### Using SQL: Display ProductName, DealerPrice, Color only for those rows where the DealerPrice > 10 AND Color = Silver. Limit your output to only 10 rows

#### Using Pandas: Display ProductName, DealerPrice, Color only for those rows where the DealerPrice > 10 AND Color = Silver. Limit your output to only 10 rows

#### Using SQL: Group by color. Find the ListPrice AVERAGE per color.

#### Using Pandas: Group by color. Find the ListPrice AVERAGE per color.

#### Load the AWProductSubcategory.csv file into a Pandas Dataframe. Name the Dataframe df_s

#### Using SQL: Join the df and df_s Dataframes by the ProductSubcategoryKey column. Display ProductAlternateKey, ProductName, ProductSubcategoryKey, ProductCategory, ProductSubcategoryName. Limit your output to only 10 rows

#### Using Pandas: Join the df and df_s Dataframes by the ProductSubcategoryKey column. Display ProductAlternateKey, ProductName, ProductSubcategoryKey, ProductCategory, ProductSubcategoryName. Limit your output to only 10 rows